<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  
  
  <body>
    <%- include("./partials/nav.ejs") %>
    
    
    <h1>Home</h1>
    <form>
      <label>
        タイトル
        <input type="text" class="title" />
      </label>
      <label>
        本文
        <textarea type="text" class="content"></textarea>
      </label>
      <button>作成</button>
    </form>
  </body>
</html>
